


<div class="container-fluid">
    <div class="row bg-info mb-5 p-5">
        <div class="col-sm-12 text-center text-dark">
            <h1>Developers Books</h1>
        </div>
    </div>
</div>
<section>
    <div class="container-lg">
        <div class="row">
            <div class="col-sm-3">
                <ul class="list-group listCard scrollbar-hidden">
                    <li class="list-group mb-4" 
                    [routerLink]="['/books', book.isbn]"
                    *ngFor="let book of booksArray">
                        <app-book [book]="book"></app-book>
                    </li>
                </ul>
            </div>
            <div class="col-sm-8 offset-sm-1">
                <!-- <app-book-details></app-book-details> -->
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section>