


<div class="book-card">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <img src="{{book?.coverImage}}" alt="">
                    </div>
                </div>
                <div class="col-sm-8">
                    <h3 class="mb-4">{{book?.title}}</h3>
                    <h4>{{book?.authors}}</h4>
                    <p>
                        <strong>Description : </strong>{{book?.description}}
                    </p>
                    <p><strong>Published on : </strong> {{book?.published}}</p>
                    <p><strong>ISBN :</strong> {{book?.isbn}}</p>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-danger my-5" routerLink="../" (click)="onDeleteHandler()">Delete</button>
</div>